<div class="fn-clear">
	<!--  = 内容区 =  -->
	<div class="at-wrap" style="padding: 10px 10px;">
		<div class="table-normal">
			<table id="rlist-content">
				<tr>
					<th>需求</th>
					<th>提出部门</th>
					<th>联系人</th>
					<th>联系电话</th>
					<th>提交时间</th>
					<th>评估进度</th>
					<th>完成进度</th>
				</tr>
			</table>
		</div>
	 	<div class="pagination" id="listpage"></div>
	</div>
	<!--  ==========  -->
</div>
<script type="text/javascript" src="/theme/gxwz/js/page.js"></script>
<script type="text/javascript" src="/theme/gxwz/js/gxcx/gxcx_xqkfgk.js"></script>