    <style  >
        h1{
            font-family: "微软雅黑";
            font-weight: normal;
        }
        
        textarea{
            border: 1px solid #e9e9e9;
        }
    </style>
		<div class="article-wrap mg-t4">
				<div class="table-form">
					<form id="form-wizard"  method="post"  class="vpostForm"
										modelAttribute="dto" th:object="${dto}"  > 
										
										<input type="hidden"  th:field="*{infosortId}"   th:value="${dto.infosortId}"/>
										<input type="hidden"  th:field="*{infolinkId}"   th:value="${dto.infolinkId}"  />
										<input type="hidden"  th:field="*{deptId}"  	 th:value="${deptId}"/>
										<input type="hidden"  th:field="*{deleteFlog}"   th:value="${deleteFlog}"/>
										
								<table style="width:100%">
									<colgroup>
										<col width="160" />
										<col width="420" />
										<col width="160" />
									</colgroup>
									<tbody>
										<tr>
											<th class="f-tar">编辑标题</th>
											<td>
												<input class="ipt-text wid80" type="text" 
												 datatype="*2-100"   nullmsg="必填"  errormsg="昵称至少2个字符,最多100个字符！" 
												 th:field="*{infolinkTitle}" th:value="${dto.infolinkTitle}"  /><!-- th:field="*{infolinkTitle}" th:value="${dto.infolinkTitle}" -->
											</td>
											<td ><div class="Validform_checktip">必填,2-100长度</div></td>
										</tr>
										<tr>
											<th class="f-tar">消息来源</th>
											<td>
												<input  class="ipt-text wid80"   type="text"    maxlength="200"  
												 datatype="*0-100"      errormsg="最多100个字符！" 
												 th:value="${dto.infolinkOrigin}"  th:field="*{infolinkOrigin}"/> 
											</td>
											<td ><div class="Validform_checktip">0-100长度</div></td>
										</tr>
										<tr>
											<th class="f-tar">摘要</th>
											<td>
												<textarea rows="2"  th:field="*{summary}"  maxlength="500"  class="wid80" 
												 datatype="*0-250"     errormsg="最多250个字符！" 
												 th:value="${dto.summary}">  </textarea>
											</td>
											<td ><div class="Validform_checktip">0-250长度</div></td>
										</tr>
										<tr>
											<th class="f-tar">关键字</th>
											<td>
												<input class="ipt-text wid80" type="text" th:field="*{keyword}" th:value="${dto.keyword}"  />
											</td>
											<td ><div class="Validform_checktip"></div></td>
										</tr>
										<tr>
											<th class="f-tar">排序</th>
											<td>
												<input class="ipt-text wid80" type="text" th:field="*{index_}" th:value="${dto.index_}" 
												 datatype="n1-10"   nullmsg="必填"  errormsg="至少1个字符,最多10个字符！" 
												 />
											</td>
											<td ><div class="Validform_checktip">正整数1-10长度</div></td>
										</tr>
										<tr>
											<th class="f-tar">编辑内容</th>
											<td colspan='2'>
												<textarea style="width:100%;"  id="container"   th:text="${dto.content}"  ></textarea>
												<input type="hidden" style="height:20px"  th:field="*{content_}"   th:value="${dto.content_}" />
											</td>
										</tr>
									</tbody>
								</table>
								
								
								
								<div class="at-wrap f-cb">
									<div class="f-tac mg-t8 mg-b8">
									   	<div style="display:none;"><input type="submit" id="next"  value="暂存" /></div>
										<a   href="javascript:void(0);"  class="btn-submit  mg-r8" style="color: #fff;" onclick="submitInfo();" >暂存</a> 
										<a   href="javascript:void(0);"  class="btn-submit  mg-r8" style="color: #fff;" onclick="submitInfoTJ();" >提交</a> 
										<a class="btn-submit" href="javascript:void(0);" style="color: #fff;" onclick="backInfo();">返回</a>
									</div>
								</div>
					</form>
									
			</div>
		</div>


<script th:inline="javascript">
/*<![CDATA[*/
/*]]>*/
</script>
<!--表单验证样式-->
<script src="/theme/gxwz/js/Validform/jsnew/jquery-migrate-1.1.1.min.js"></script> 
<script src="/theme/gxwz/js/Validform/jsnew/Validform_v5.3_min.js"></script>
 <!--js-->
<link rel="stylesheet" href="/theme/gxwz/plugins/layui/css/layui.css" />
<script type="text/javascript" src="/theme/gxwz/plugins/layui/layui.js"></script>		
<script type="text/javascript" src="/theme/gxwz/js/wzgl/wzgl_mhlj_content.js"></script>
