<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>海口市政务信息共享网站</title>
</head>

<body>
	<div th:fragment="footer">
		<div class="footer fn-clear">
			<div class="footerwrap fn-clear">
				<div class="footernav fn-clear">
					<!-- 
					<a href="###">关于我们</a> <span> 丨 </span><a href="###"> 服务条款</a> <span> 丨 </span> <a href="###">
						友情链接</a>
					 -->
				</div>
				<p class="fn-clear">建议使用1366x768分辨率IE9.0以上版本浏览器</p>
			</div>
		</div>
	</div>
</body>
</html>
