<!DOCTYPE html>
<html>
<head>
<title>附件上传组件</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<meta http-equiv="Expires" content="0"/>
<meta http-equiv="Pragma" content="no-cache"/>
<meta http-equiv="Cache-control" content="no-cache"/>
<meta http-equiv="Cache" content="no-cache"/>>
<link rel="stylesheet" href="/theme/plugins/layui/css/layui.css" media="all" />
<link rel="stylesheet" href="/theme/platform/css/main.css" />
</head>
<body>
	<fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
		<blockquote class="layui-elem-quote title" th:text="'单个文件大小为：'+${size} +'M，'+'文件数量为：'+${file_number}+ '个，文件类型位：'+${suffix}"></blockquote>
	</fieldset>
	<form id="form" action="">
		<div class="layui-upload">
			<input type="hidden" id="fkid" name="fkid" th:value="${fkid}" />
			<input type="hidden" id="exts" name="exts" th:value="${exts}" />
			<input type="hidden" id="acceptMime" name="acceptMime" th:value="${acceptMime}" />
			<input type="hidden" id="file_number" name="file_number" th:value="${file_number}" />
			<input type="hidden" id="maxUploadSize" name="maxUploadSize" th:value="${maxUploadSize}" />
			<button type="button" class="layui-btn layui-btn-normal" id="testList">请选择文件</button>
			<button type="button" class="layui-btn" id="testListAction" style="display: none;">开始上传</button>
			<div class="layui-upload-list">
				<table class="layui-table">
					<thead>
						<tr>
							<th>文件名</th>
							<th>大小</th>
							<th>状态</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody id="demoList"></tbody>
				</table>
			</div>
		</div>
	</form>
	<script type="text/javascript" src="/theme/platform/js/jquery.min.js"></script>
	<script type="text/javascript" src="/theme/plugins/layui/layui.all.js"></script>
	<script type="text/javascript" src="/theme/platform/js/upload/upload_util.js"></script>
</body>
</html>