<!--pagebanner-->
<div class="pagebanner fn-clear ">
	<div class="pagebannerwrap fn-clear">
		<div class="crumb"> 您的位置: 首 页 > 交换对账 </div>
	</div>
	<!--  = 内容区 =  -->
	<div class="detail-wrap" id="cj_list">
		<div class="pagination pd-r4">
			<div class="f-fr">
				<div class="pageNum"><input type="text" id="page_a" />
				</div>
			</div>
		</div>
	<!--  ===内容区END=======  -->
	</div>
</div>
<script>
var map={};
</script>
<script src="/theme/gxwz/js/page.js"></script>
<script src="/theme/gxwz/js/jhdz/jhdz_list.js"></script>
