<!doctype html>
<html>
<head>
<meta charset="UTF-8" />
<title>Web Uploader文件</title>
<link rel="stylesheet" type="text/css" href="/theme/plugins/webuploader/webuploader.css" />
</head>
<body>
	<input type="hidden" id="fkid" name="fkid" value=""/>

	<div id="uploader" class="wu-example">
		<div class="queueList">
			<div id="dndArea" class="placeholder">
				<div id="filePicker"></div>
				<p>或将文件拖到这里，单次最多可选1个文件</p>
			</div>
		</div>
		<div class="statusBar" style="display: none;">
			<div class="progress">
				<span class="text">0%</span>
				<span class="percentage"></span>
			</div>
			<div class="info"></div>
			<div class="btns">
				<div id="filePicker2"></div>
				<div class="uploadBtn">开始上传</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" th:src="@{/theme/platform/js/jquery.min.js}" src="/theme/platform/js/jquery.min.js"></script>
	<script type="text/javascript" th:src="@{/theme/plugins/layui/layer/layer.js}" src="/theme/plugins/layui/layer/layer.js"></script>
	<script th:src="@{/theme/plugins/webuploader/webuploader.js}" src="/theme/plugins/webuploader/webuploader.js"></script>
	<script id="js1"  th:src="@{/theme/platform/js/model/upload.js}" src="/theme/platform/js/model/upload.js"></script>
	<script type="text/javascript">
		//重新加载js
		$(function() {
			$("#js1").attr("src", $("#js1").attr("src") + "?v=" + Math.random());
		});
	</script>
</body>
</html>