<!DOCTYPE html>
<html>
<!-- <head th:include="thymeleaf/commonTemplates/common::commonHead"  ></head> -->
<head>
<title>信息列表</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="renderer" content="webkit" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta http-equiv="Expires" content="0" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Cache-control" content="no-cache" />
<meta http-equiv="Cache" content="no-cache" />
<link rel="stylesheet" th:href="@{/theme/layuiadmin/layui/css/layui.css}" href="/theme/layuiadmin/layui/css/layui.css" media="all" />
<link rel="stylesheet" th:href="@{/theme/layuiadmin/style/admin.css}" href="/theme/layuiadmin/style/admin.css" media="all" />
<link rel="stylesheet" th:href="@{/theme/layuiadmin/layui/font/font_ali/iconfont.css}"  href="/theme/layuiadmin/layui/font/font_ali/iconfont.css" media="all"/>
<script  type="text/javascript"  th:href="@{/theme/layuiadmin/layui/layui.js}"  src="/theme/layuiadmin/layui/layui.js"></script>

</head>
<body layadmin-themealias="default" style="">
  
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-header" >
          	<span   ><a style="padding-left: 10px;"><cite>当前位置：</cite><cite>数据表管理</cite></a>   </span>
          </div>
          <div class="layui-card-body">
          
          	<!--搜索div-->
            <div class="test-table-reload-btn" style="margin-bottom: 10px;">
                <div class="layui-form ">
        			<div class="layui-form-item">
        
				          <div class="layui-inline">
				            <label class="layui-form-label">表名称：</label>
				            <div class="layui-input-inline">
				              <input type="text" name="table_name" id="table_name" placeholder="请输入" autocomplete="off" class="layui-input" />
				            </div>
				          </div>
				          
			              <div class="layui-inline">
				            <label class="layui-form-label">表中文名称：</label>
				            <div class="layui-input-inline">
				              <input type="text" name="table_cname" id="table_cname" placeholder="请输入" autocomplete="off" class="layui-input" />
				            </div>
				          </div>
			              
			               <button class="layui-btn" data-type="reload">搜索</button>
             		</div>
             	</div>
            </div>
           
           <!--数据table-->
           <table class="layui-hide" id="Layui-table-toolbar" lay-filter="Layui-table-toolbar"></table>
           
           <!--table工具栏-->
           <script type="text/html" id="Layui-table-toolbar-toolbarDemo">
              <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm" lay-event="opendgviewAdd"><i class="layui-icon layui-icon-add-circle"></i>新增数据表</button>
              </div>
           </script>
          
           <!--table行按钮    <a  class="layui-btn layui-btn-normal layui-btn-xs" lay-event="push">	 <i class="layui-icon  iconfont icon-fabu"></i>设置</a> -->
           <script type="text/html" id="Layui-table-toolbar-barDemo">
          	  <a  class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">  <i class="layui-icon layui-icon-edit"></i>编辑</a>
          	  <a  class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">	 <i class="layui-icon layui-icon-delete"></i>删除</a>
          	  
 			</script>
            
           <!--table数据模板-->
           <script type="text/html" id="isreleaseTpl">
		   </script>
			
          </div>
        </div>
      </div>
    </div>
  </div>
<script th:inline="javascript" type="text/javascript">
/*<![CDATA[*/  
//don't move this
  var linkListS = /*[[@{/platform/modInfo/info_tableName_list_json}]]*/ ;
  var link2AddS = /*[[@{/platform/modInfo/info_tableName_edit}]]*/ ;
  var link2EditS = /*[[@{/platform/modInfo/info_tableName_edit}]]*/ ;
  var linkDelS = /*[[@{/platform/modInfo/info_tableName_edit_del}]]*/ ;
  var linkSubmitS = /*[[@{/platform/modInfo/info_tableName_edit_save}]]*/ ;

  var flag_ = /*[[${flag}]]*/;
  var id_ALL = '';
  var name_ALL = '';

  /*]]>*/
  </script>
  
  <script  type="text/javascript"  th:href="@{/theme/platform/js/model/modellist.js}"  src="/theme/platform/js/model/modellist.js"></script>
  
</body></html> 